<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>06 Propiedades Computadas</title>
</head>
<body>
    <main>

        <h1>{{ mensajeAlReves }}</h1>
        <h2>{{ mensaje }}</h2>

        <ul>
            <li v-for="tarea in tareasPorAntiguedad">
                {{ tarea.titulo }} <span>{{ tarea.antiguedad }}</span>
            </li>
        </ul>

        <form v-on:submit.prevent="agregarTarea()">
            <input type="text" placeholder="Agrega una tarea" v-model="nuevaTarea">
            <input type="submit" value="Enviar tarea">
        </form>

        <pre> {{ $data }} </pre>
    </main>

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>