<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>23 Custom input components</title>    
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <main>
        <!-- <input type="text" v-model="password"> -->
        <!--
        <input type="text" :value="password" @input="password = $event.target.value">
            ==
        <pass v-model="password"></pass> 
        -->
        <pass v-model="password"></pass> 
        <pre> {{ $data }} </pre>
    </main>

    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="js/main.js"></script>    
</body>
</html>